.github
.vscode
build
hooks
node_modules
packages
prisma/migrations
src/test
tbuild
.env
.env.*
.gitignore
.npmrc
.prettierignore
ERD.md
eslint.config.mjs
nestia.config.ts
prettierconfig.mjs
README.md
setup.sh
TEST_REPORT.md
tsconfig.sdk.json
tsconfig.test.json

*.log
*.md
*.txt
.DS_Store